.main-img {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  box-shadow: 10px 5px 5px #ff0000;
}

body {
  background-image: url(eclipse.jpg);
  background-size: 100%;
  color: white;
}

th, td {
 border: solid white 2px;
 border-collapse: collapse;
 box-shadow:  5px 5px rgba(146, 146, 146, 0.377);
}

th {
  font-style: italic;
  text-align: center;
}

table {
  background-color: rgba(0, 0, 255, 0.39);
}

.inventory {
  text-shadow:3px 3px rgba(43, 184, 0, 0.548);
}

/* .button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
} */