.main-img {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
  box-shadow: 10px 10px 10px  #ff0000;
}

body {
  background-image: url(eclipse.jpg);
  background-size: 100%;
  color: white;
}

table {
  background-color: rgba(0, 0, 255, 0.39);
}

th {
  font-style: italic;
  text-align: center;
}

.th-2, td {
  border: solid white 2px;
  box-shadow:  8px 8px rgba(146, 146, 146, 0.377);
}

.inventory {
  text-shadow:3px 3px rgba(43, 184, 0, 0.548);
  background-color: rgba(255, 102, 0, 0.699);
}

button {
  color: #ff0000;
  font-weight: bolder;
  width: 90%;
  text-shadow: 1px 1px rgb(255, 51, 0);
}




/* .button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
} */